*{
    background-color: #2f3037;
}

.header{
    color:#eee;
}
p +button, button+button{
    color:#eee;
}

#array{
    display: grid;
    grid-template-columns: repeat(20,50px);
    height:500px;
    grid-gap: 5px;;
    margin-left: 20px;
    margin-top:20px;
    transform: scaleY(-1);
    justify-content: center;
    
}

.item{
    background-color: #FF6464;
    color:#eee;
    transform: scaleY(-1);
    text-align: center;
    transition:0.1s ease;
}
#speed{
    transform: rotateY(180deg);
}