body{
    background: #eeedec;
    letter-spacing: 0.2em;
    font-size: 0.8em;
    background-color: #24252A;
    color:#edf0f1; 
    font-family:"Montserrat", sans-serif;
}
.container{
    max-width: 400px;
}
